@charset "UTF-8";
/* CSS Document */




body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  background: #e8e8e8;
}

.first-page {
  background: linear-gradient(160deg, #ededed, #ededed 60%, #c6c6c6);
}

#pagetwohead {
  background: #abc8a7;
  width: 100%;
  height: 60px;
}

#pagethreehead {
  background: #b5d1d6;
  width: 100%;
  height: 60px;
}

#pagefourhead {
  background: #f6c87c;
  width: 100%;
  height: 60px;
}


.first-page, .second-page, .third-page, .fourth-page {
  height: 90vh;

}


/* Title */

.first-page-title {
  width: 33vw;
  padding-right: 15vw;
  padding-top: 12vh;
  float: right;
  text-align: right; 
  
}

#signature {
  width: 100%;
  max-width: 450px;
  
}

#list {
  width: 100%;
  color: #c45454;
  list-style: none;
  padding: 0;
  
}

.attributes {
  float: right;
  text-align: right;
  padding-right: 8vh;
  
}

.attribute {
  font-size: 20pt;
  width: 100%;
  
}


/* Icons */

.icons {
  height: 90%;
  max-height: 700px;
  width: 30%;
  margin-left: 15%;
  position: relative;
}

.icon {
  max-width: 100%;
  max-height: 90%;
  transition: 0.8s;
  opacity: 0;
  display: block;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
}



/* SVG Underline */

#underline_drawing {
  width: 80%;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}


@keyframes underlines {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
} 

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation-name: underlines;
  animation-duration: 2.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

#top-line {
  animation-delay: .8s;
}

#bottom-line {
  animation-delay: .8s;
}

#point {
  animation-name: point;
  animation-duration: 2s;
  animation-delay: 2.3s;
  animation-iteration-count: 1;
  animation-fill-mode:both;
}

@keyframes point {
  from {
    cy: 50%;
    cx: -20%;
  }
  to {
    cy: 50%;
    cx: 50%;
  }
}


/* Nav Bar */

#sidenav {
  position: fixed;
  top: 10vh;
  background-color: none;
  float: left; 
}

.submenu {
  font-size: 13pt;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 20px;
  margin-top: 15px;
  margin-right: 100px;
  transition: 0.6s;
  overflow-x: hidden;
  border-radius: 0px 1px 1px 0px;
}

#home {
  background-color: #dc8e8f;
  color: #dc8e8f;
  transition: 0.4s;
}

#home:hover {
  background-color: #dc8e8f;
  color: #191919;
  transition: 0.6s;
}

#web {
  background-color: #abc8a7;
  color: #abc8a7;
  transition: 0.4s;
}

#web:hover {
  background-color: #abc8a7;
  color: #191919;
  transition: 0.6s;
}

#graphics {
  background-color: #b5d1d6;
  color: #b5d1d6;
  transition: 0.4s;
}

#graphics:hover {
  background-color: #b5d1d6;
  color: #191919;
  transition: 0.6s;
}

#sounds {
  background-color: #f6c87c;
  color: #f6c87c;
  transition: 0.4s;
}

#sounds:hover {
  background-color: #f6c87c;
  color: #191919;
  transition: 0.6s;
}


.submenu:hover {
  width: 130px;
  transition: 0.6s;
}

a {
  text-decoration: none;
  color: inherit;
}






