@charset "UTF-8";
/* CSS Document */




body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.first-page {
  height: 100vh;
  max-height: 700px;
  background: #BED6DA;
}

.second-page, .third-page, .fourth-page {
  height: 100vh;
  max-height: 700px;
}


/* Title */

.first-page-title {
  padding-right: 12vh;
  padding-top: 12vh;
  float: right;
  text-align: right; 
  width: 500px
}

#signature {
  width: 100%;
  max-width: 450px;
  
}

#list {
  width: 100%;
  color: #DAA1A1;
  list-style: none;
  padding: 0;
  
}

.attributes {
  float: right;
  text-align: right;
  padding-right: 8vh;
  
}

.attribute {
  font-size: 22pt;
  width: 100%;
  
}


/* Icons */

.icons {
  height: 85%;
  max-height: 700px;
  width: 20%;
  margin-left: 20%;
  position: relative;
  overflow: hidden;
}

.icon {
  max-width: 100%;
  max-height: 25%;
  transition: 0.8s;
  opacity: 0;
  display: block;
}


/* Nav Bar */

#sidenav {
  position: fixed;
  top: 10vh;
  background-color: none;
  float: left; 
}

.submenu {
  font-size: 13pt;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 12px;
  margin-top: 15px;
  margin-right: 100px;
  transition: 0.6s, color 0.4s;
  background-color: #A57373;
  color: #7EC394;
  overflow-x: hidden;
  opacity: .6;
  border-radius: 0px 1px 1px 0px;
}

.submenu:hover{
  color: #191919;
  font-weight: bold;
  width: 130px;
  transition: 0.6s, color 1.7s;
  opacity: 1;
}

a {
  text-decoration: none;
  color: inherit;
}






